.bg-clr {
    background-color: rgba(1, 1, 1, 0.776);
}

.log-in {
    background-image: url('https://images.unsplash.com/photo-1499529112087-3cb3b73cec95?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    background-repeat: no-repeat;
    background-size: cover;

}

.upgrade {
    background-image: url('https://media.istockphoto.com/id/1181366400/photo/in-the-hands-of-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-on.jpg?b=1&s=170667a&w=0&k=20&c=QFTFteDQyrkmK9gTzquXRFU2JhzuN5dm7irpjxHw2tU=');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.list {
    list-style: none;
}